@charset "UTF-8";
@font-face {
  font-family: tipografía;
  src: url(../recursos/Hey\ Comic.ttf);
}
* {
  font-family: tipografía;
}
* p {
  font-size: 20px;
}

body {
  background-image: url(../recursos/imagenDeFondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  font-size: 20px;
}

ul {
  list-style: none;
}

header {
  background-color: rgba(225, 4, 4, 0.801);
  width: 100%;
  height: 4rem;
  border: 1px solid white;
  border-radius: 10px;
}
header nav {
  width: 100%;
}
header nav .menu {
  display: flex;
  justify-content: center;
  padding-right: 2rem;
}
header nav .menu li {
  margin: 0px 5px;
}
header nav .menu li a {
  text-decoration: none;
  color: white;
  padding-top: 20px;
}
header nav .menu li a:hover {
  color: yellow;
}
header nav .menu li:hover {
  transform: scale(1.2, 1.2);
  transition: all 1s;
}

main {
  background-color: rgba(255, 99, 71, 0.801);
  border: 1px solid white;
  border-radius: 10px;
  width: 100%;
}
main h1 {
  text-decoration: underline;
}
main .tituloDeLaPagina {
  font-size: 1.5rem;
}
main p {
  padding-left: 2%;
}

.imagenesYDescripciones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}
.imagenesYDescripciones .imagenJuego {
  width: 25rem;
}
.imagenesYDescripciones .imagenJuegoGba {
  width: 25rem;
}

.inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inicio #imagenDeInicio {
  height: 50%;
  width: 50%;
}
.inicio #introduccion {
  width: 25%;
  height: 25%;
}

footer {
  width: 100%;
  background-color: rgba(129, 0, 0, 0.801);
  border: 1px solid white;
  border-radius: 10px;
}
footer li {
  color: white;
}

#formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#formulario form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#formulario form .boton:hover {
  background: red;
  color: yellow;
}
#formulario .registrarse {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#formulario .registrarse input {
  font-size: 20px;
  display: block;
}

#registro {
  width: 99%;
  padding: 1% 0% 1% 1%;
}
#registro ul {
  padding-top: 1%;
}

.autor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.autor #morikawa {
  width: 50%;
  height: 50%;
}

@media (min-width: 360px) and (max-width: 480px) {
  .menu li {
    font-size: 80%;
  }
  .inicio #imagenDeInicio {
    width: 100%;
  }
  .inicio iframe {
    width: 100%;
  }
  .autor #morikawa {
    width: 100%;
    height: 33%;
    padding-left: unset;
  }
  .imagenesYDescripciones {
    flex-direction: column;
    grid-template-areas: "imagenIppo" "descripcionIppo" "imagenMamoru" "descripcionMamoru" "imagenIchiro" "descripcionIchiro" "imagenGenji" "descripcionGenji" "imagenGba" "descripcionGba" "imagenNds" "descripcionNds" "imagenPs3" "descripcionPs3";
    grid-template-columns: unset;
  }
  .imagenesYDescripciones .imagenIppo {
    grid-area: imagenIppo;
  }
  .imagenesYDescripciones .imagenMamoru {
    grid-area: imagenMamoru;
  }
  .imagenesYDescripciones .imagenGenji Ichiro {
    grid-area: imagenGenji Ichiro;
  }
  .imagenesYDescripciones .imagenGba {
    grid-area: imagenGba;
  }
  .imagenesYDescripciones .imagenNds {
    grid-area: imagenNds;
  }
  .imagenesYDescripciones .imagenPs3 {
    grid-area: imagenPs3;
  }
  .imagenesYDescripciones .descripcionIppo {
    grid-area: descripcionIppo;
  }
  .imagenesYDescripciones .descripcionMamoru {
    grid-area: descripcionMamoru;
  }
  .imagenesYDescripciones .descripcionIchiro {
    grid-area: descripcionIchiro;
  }
  .imagenesYDescripciones .descripcionGenji Gba {
    grid-area: descripcionGenji Gba;
  }
  .imagenesYDescripciones .descripcionNds {
    grid-area: descripcionNds;
  }
  .imagenesYDescripciones .descripcionPs3 {
    grid-area: descripcionPs3;
  }
  .imagenesYDescripciones .imagenPersonaje {
    width: 100%;
  }
  .imagenesYDescripciones .imagenJuego {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
