@font-face{
    font-family: tipografía;
    src: url(../recursos/Hey\ Comic.ttf);
}
*{
    font-family: tipografía;
    p{
        font-size: 20px;
    }
}
body{
    background-image: url(../recursos/imagenDeFondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
li{
    font-size: 20px;
}
ul{
    list-style: none;
}
main{
    background-color: rgba(255, 99, 71, 0.801);
    border: 1px solid white;
    border-radius: 10px;
    h1{
        text-decoration:underline
    }
}
.inicio{
    #imagenDeInicio{
        height: 66%;
        padding-left: 30%;
        width: 50%;
    }
    iframe{
        padding-left: 13%;
        width: 70%;
        height: 70%;
    }
}
#formulario{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .boton{
            &:hover{
                background: red;
                color: yellow;
            }
        }
    }
    .registrarse{
        display: flex;
        flex-direction: row;
        justify-content: center;
        input{
            font-size: 20px;
            display: block;
        }
    }
}
.autor{
    #morikawa{
        width: 40%;
        height: 65%;
        padding-left: 33%;
        @media(max-width: 480px){
            padding-left: unset;
        }
    }
}
footer{
    width: 100%;
    background-color: rgb(129, 0, 0, 0.801);
    border: 1px solid white;
    border-radius: 10px;
}
.imagenesYDescripciones{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    .imagenJuego{
        width: 25rem;
    }
}
@media (min-width: 360px) and (max-width: 480px){
    .inicio{
        #imagenDeInicio{
            height: 33%;
            width: 100%;
            padding-left: unset;
        }
        iframe{
            padding-left: unset;
            width: 100%;
            height: 33%;
        }
    }
    .autor{
        #morikawa{
            width: 100%;
            height: 33%;
            padding-left: unset;
        }
    }
}
@import"../css/layout/header.scss"