//general
@import"../css/layout/general.scss";

//header
@import"../css/layout/header.scss";

//main
main{
    background-color: rgba(255, 99, 71, 0.801);
    border: 1px solid white;
    border-radius: 10px;
    width: 100%;
    h1{
        text-decoration:underline
    }
    .tituloDeLaPagina{
        font-size: 1.5rem;
    }
    p{
        padding-left: 5%;
    }
}

//personajesJuegos
.imagenesYDescripciones{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    .imagenJuego{
        width: 25rem;
    }
    .imagenJuegoGba{
        width: 25rem;
    }
}

//inicio
@import"../css/layout/inicio.scss";

//footer
footer{
    width: 100%;
    background-color: rgb(129, 0, 0, 0.801);
    border: 1px solid white;
    border-radius: 10px;
    li{
        color: white;
    }
}

//registrarse
@import"../css/layout/registrarse.scss";

//autor
@import"../css/layout/autor.scss";

//responsive
@import"../css/layout/responsive.scss";